<!DOCTYPE html>
<html >
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</head>
<body>

<!-- <div class="login-form">
    
        <h2 class="text-center">LOGIN</h2><br>
        <div class="form-group">
                <label for="username">Username:</label>
            <input type="text"  #username  class="form-control" id="username"  placeholder="Username" required>
        </div>
       <br>
        <div class="form-group">
                <label for="password">Password:</label>
            <input type="password" #password class="form-control" id="password" placeholder="Password" required (keyup.enter)="login(username.value,password.value)">
        </div>
        <br>
        <div class="form-group">
            <button  class="btn btn-primary btn-block"  (click)="login(username.value,password.value)">Log in</button>
        </div>     
</div> -->

<div class="container"> 
        <form [formGroup]="formGroup" (ngSubmit)="login(formGroup.value)" class="form">
            <label>UserName:</label>
          <mat-form-field floatLabel="never" class="form-element">
            <input type="text" matInput  placeholder="Username" formControlName="username">
            <mat-error *ngIf="formGroup.controls['username'].invalid">
              {{getError('user')}}
            </mat-error>
          </mat-form-field>
      <label>
          Password:
      </label>
          <mat-form-field floatLabel="never" class="form-element">
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="!formGroup.controls['password'].valid">
              {{getError('pass')}}
            </mat-error>
          </mat-form-field>
      
          <div class="form-element">
                <button  style="background-color:#ff6700;background-color: #ff6700; color: white;" mat-raised-button type="submit" class="button" class="btn btn-primary btn-lg a" [disabled]="!formGroup.valid">Login</button>
          </div>
      
        </form>
      </div>
      


</body>
</html>                                		                            