.form{
    margin-top: 30px;
    margin-left:550px;
    margin-right:0px;
   padding: 40px;
}
input{
    margin-top: 0px;
    margin-left:0px;
    margin-bottom: 20px;
    border-radius: 2%;
}
h1{
    margin-left:20px;
}
.a{
    float:left;
    color:white;
    padding:10px 12px;
    text-decoration: none;
    font-size: 17px;
    margin-left:90px;

}