* {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100px;
    background: #f1f1f1;
    border-radius: 2%;
  }
  
  form.example button {
    float: left;
    width: 50px;
    padding:10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-radius: 2%;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  .Select{
    padding-left: 550px;
  }
  .example-form{
    min-width: 150px;
    max-width: 500px;
    width: 190%;
  }
  .example-full-width {
    width: 100%;
  }
  input{
    font-size: 25px;
  }