/* .profile{
    margin:100px;    
}
input{
    margin-top: 10px;
    margin-left:0px;
    margin-bottom: 20px;
    border-radius: 2%;
    background-color: aliceblue;
    font-size:15px;
}
label{
    margin-top: 10px;
    margin-left:0px;
    margin-bottom: 20px;
    border-radius: 2%;
    color:black;
    font-size: 22px;
}
button{
    float:left;
    color:white;
    background-color:#2196F3;
    border-color: #2196F3;
    text-align: center;
    padding:10px 12px;
    text-decoration: none;
    margin-left:50px;

}
.back{
    margin-left:60px;
}
h1{
    color: black;
} */
	
.container {
  margin-left:500px;
  margin-top:100px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 50%;
  margin-left:100px;
  padding:10px;

}input{
color:black;
}
.a{
  float:left;
  color:white;
  padding:10px 12px;
  text-decoration: none;
  font-size: 18px;
  margin-left:150px;
  width:130px;

}

	
.container {
    margin-left:500px;
    margin-top:100px;
  }
  
  .form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
  }
  
  .button {
    width: 50%;
    margin-left:100px;
    padding:10px;

  }
  .a{
    float:left;
    
    padding:10px 12px;
    text-decoration: none;
    font-size: 18px;
    margin-left:150px;
    width:130px;

}
