<app-home>
</app-home>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- <div class="profile">
<label >Employee ID:</label><br>
<input name="id"#empId style="width:400px;height:30px;"  value={{details.empId}} disabled> <br>
<label >First Name:</label><br>
<input name="firsname"#firstname style="width:400px;height:30px;"  value="{{details.firstName}}"> <br>
<label >Last Name:</label><br>
<input name="lastname"#lastname style="width:400px;height:30px;"  value="{{details.lastName}}"> <br>
<label >email:</label><br>
<input name="email" #email style="width:400px;height:30px;"  value="{{details.email}}"> <br>
<label >Gender:</label><br>
<input name="gender"  #gender style="width:400px;height:30px;"  value="{{details.gender}}"> <br>
<label >Age:</label><br>
<input name="age"  #age style="width:400px;height:30px;"  value="{{details.age}}"><br><br>
<button style="width:120px;height:50px;" (click)="save(empId.value,firstname.value,lastname.value,email.value,gender.value,age.value)">Save</button></div> -->
<!-- <mat-form-field floatLabel="never" class="form-element">
        
        <input type="text" matInput  placeholder="Employee ID" formControlName="empId">
        <mat-error *ngIf="formGroup.controls['empId'].invalid">
            {{getError('empid')}}
          </mat-error>
    
   </mat-form-field> -->
<div class="container">
    <form name="editForm" [formGroup]="editForm" class="form" (submit)="save(empId.value,firstName.value,lastName.value,email.value,gender.value,age.value)">
        <mat-form-field floatLabel="never" class="form-element">
            <label>Employee ID</label>
            <input #empId type="text" matInput value="{{details.empId}}" disabled>

        </mat-form-field>
        <mat-form-field floatLabel="never" class="form-element">
            <label>First Name</label>
            <input #firstName type="text" matInput value="{{details.firstName}}"   formControlName="firstName">
            <mat-error *ngIf="!editForm.controls['firstName'].valid ">
                 {{getError('firstname')}}
               </mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="never" class="form-element">
            <label>Last Name</label>
            <input #lastName type="text" matInput value={{details.lastName}}  formControlName="lastName">
            <mat-error *ngIf="editForm.controls['lastName'].invalid">
               {{getError('lastname')}}
             </mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="never" class="form-element">
            <label>Email</label>
            <input #email type="text" matInput value={{details.email}} formControlName="email">
            <mat-error *ngIf="editForm.controls['email'].invalid">
               {{getError('email')}}
             </mat-error>

        </mat-form-field>
        <!-- <mat-form-field floatLabel="never" class="form-element">
            <label>Gender</label>
            <input #gender type="text" matInput value="{{details.gender}}" formControlName="gender">
            <mat-error *ngIf="editForm.controls['gender'].invalid">
             {{getError('gender')}}
           </mat-error>
        </mat-form-field> -->
        <mat-form-field class="form-element"  >
            <label>Gender</label>
            <mat-select #gender value="{{details.gender}}" formControlName="gender" >
              <mat-option value="M">M</mat-option>
              <mat-option value="F">F</mat-option>
             
            </mat-select>
  
        </mat-form-field>
        <!-- <mat-form-field class="form-element" class="form-element" >
                <mat-label>Gender</mat-label>
                <mat-select #gender value="{{details.gender}}" formControlName="gender" >
                  <mat-option value="M">M</mat-option>
                  <mat-option value="F">F</mat-option>
                 
                </mat-select>
        </mat-form-field> -->
      
        <mat-form-field floatLabel="never" class="form-element">
            <label>Age</label>
            <input #age type="text" matInput value="{{details.age}}" formControlName="age">
            <mat-error *ngIf="editForm.controls['age'].invalid">
           {{getError('age')}}
         </mat-error>
        </mat-form-field>
        <div class="form-element">
            <button  mat-raised-button style="background-color:#ff6700;background-color: #ff6700; color: white;" (click)="openDialog(key)" type="submit" class="button"[disabled]="editForm.invalid" class="btn btn-primary btn-lg a">Save</button>
        </div>
    </form>
</div>