.navigation{
    background-color:#ff6700;
    overflow: hidden;
}
.float-left{
    float:left;
}
.list a span:hover{
    background-color:white;
    color:#ff6700; 
    
}
.list{
    color:white;
    text-align: center;
    padding:20px 27px;
    text-decoration: none;
    font-size: 17px;
    font-family: cursive;
}
.navigation a:hover{
    background-color:white;
    color:#ff6700; 
}
   .logout
   {
    float:right;
    font-size: 17px;
    color:white;        
   text-align: center;
   }
   .right{
    padding:20px 27px;
   }
   .right-icon{
    padding:5px 0px;
   }
   a:hover{
       background-color:white;
    color:#ff6700; 
   }
   /* .list a span{
       padding:22px;
   } */

 
   